html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body,
a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

a {
  text-decoration: none;
}

#root {
  background-color: #020611;
}

.container {
  max-width: 1280px;
  margin: 20 auto;
}

.header__wrap {
  height: 90px;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  max-height: 50px;
}

.nav_menu {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.nav_link {
  list-style-type: none;
}

.nav_link a {
  position: relative;
  padding: 15px 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff65;
  /* z-index: -1; */
  width: 0%;
  height: 100%;
  transition: 0.8s;
}

.nav_link a:hover::after {
  width: 100%;
}

.active-link {
  background-color: #ffffff65;
}

.viber {
  fill: #595094;
  height: 17px;
  width: 17px;
}

.whatsApp {
  fill: #069e08;
  height: 17px;
  width: 17px;
}

.phone {
  fill: #ff0000;
  height: 17px;
  width: 17px;
}

.mapPin {
  fill: #ff0000;
  height: 17px;
  width: 17px;
}
