html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.nav__but {
  text-decoration: none;
  color: brown;
}

.nav__but-active {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
